doctype html
html(lang="vi")
  head
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
    block head
    block link
      link(rel="icon", href="assets/themes/hoiandor/assets/images/favicon.ico", type="image/x-icon")
      // Google Fonts
      link(
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap",
        rel="stylesheet"
      )
      link(
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap",
        rel="stylesheet"
      )
      // Stylesheets
      link(href="assets/themes/hoiandor/assets/css/font-awesome-all.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/flaticon.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/owl.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/bootstrap.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/jquery.fancybox.min.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/animate.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/nice-select.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/jquery-ui.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/color.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/style.css", rel="stylesheet")
      link(href="assets/themes/hoiandor/assets/css/responsive.css", rel="stylesheet")
  body
    .boxed_wrapper
      block body
    block script
      // jquery plugins
      script(src="assets/themes/hoiandor/assets/js/jquery.js")
      script(src="assets/themes/hoiandor/assets/js/popper.min.js")
      script(src="assets/themes/hoiandor/assets/js/bootstrap.min.js")
      script(src="assets/themes/hoiandor/assets/js/owl.js")
      script(src="assets/themes/hoiandor/assets/js/wow.js")
      script(src="assets/themes/hoiandor/assets/js/validation.js")
      script(src="assets/themes/hoiandor/assets/js/jquery.fancybox.js")
      script(src="assets/themes/hoiandor/assets/js/appear.js")
      script(src="assets/themes/hoiandor/assets/js/scrollbar.js")
      script(src="assets/themes/hoiandor/assets/js/jquery.nice-select.min.js")
      script(src="assets/themes/hoiandor/assets/js/jquery-ui.js")
      // main-js
      script(src="assets/themes/hoiandor/assets/js/script.js")
