section.banner-section(style=`background-image: url(${banner.background})`)
  .pattern-layer(style="background-image: url(assets/themes/hoiandor/assets/images/shape/shape-1.png)")
  .auto-container
    .content-box
      h2!= banner.title
      p.la-banner-desc!= banner.description
