.loader-wrap
  .preloader
    #handle-preloader.handle-preloader
      .animation-preloader
        .spinner
        .txt-loading
          - let chars = (preloaderText || '').split('');
          - let enChars = chars.map((v) => (v === ' ' ? '&nbsp;' : v));
          - for(let i = 0; i < chars.length; i++)
            span.letters-loading(data-text-preloader=`${chars[i]}`)!= enChars[i]
