.loader-wrap
  .preloader
    #handle-preloader.handle-preloader
      .animation-preloader
        .spinner
        .txt-loading
          - for(let i = 0; i < 10; i++)
            span.letters-loading(data-text-preloader="t").
              t
            span.letters-loading(data-text-preloader="r").
              r
            span.letters-loading(data-text-preloader="a").
              a
            span.letters-loading(data-text-preloader="v").
              v
            span.letters-loading(data-text-preloader="i").
              i
            span.letters-loading(data-text-preloader="o").
              o
