.loader-wrap
  .preloader
    #handle-preloader.handle-preloader
      .animation-preloader
        .spinner
        .txt-loading(style="transform: scale(0.8); white-space: nowrap")
          - if (preloader)
            - let chars = (preloader.text || '').split('');
            - let enChars = chars.map((v) => (v === ' ' ? '&nbsp;' : v));
            - for(let i = 0; i < chars.length; i++)
              span.letters-loading(data-text-preloader=`${chars[i]}`)!= enChars[i]
          - else
            span No 'preloader' data
