:root {
  --primary-color: #72163b;
  --secondary-color: #002d2e;
  --secondary-font: "Playfair Display", serif;
  --color-text-primary: #333333;
  --color-fancy: #ecd9b0;
}

html,
body,
::placeholder {
  color: var(--color-text-primary);
}

html {
  scroll-behavior: smooth;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.la-contact-form .form-group input {
  position: relative;
  max-width: 286px;
  width: 100%;
  height: 64px;
  background: #fff;
  /*border-radius: 5px;*/
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #000000 !important;
  transition: all 500ms ease;
  border-radius: 60px !important;
  background: rgba(255, 255, 255, 0.8) !important;
}

.la-contact-form button {
  max-width: 286px;
}

.la-contact-form .message-btn .theme-btn {
  padding: 20px 42px !important;
  background: var(--primary-color);
  border-radius: 60px;
}

.text-outline {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.la-banner-desc {
  max-width: 700px;
  text-align: justify;
}

.la-banner-desc strong {
  color: var(--primary-color) !important;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 0.25em;
  border-radius: 0.25em;
}

.main-header .logo-box {
  padding: 0;
}

.color-primary {
  color: var(--primary-color) !important;
}

.color-text-primary {
  color: var(--color-text-primary) !important;
}

.text-pretty {
  font-family: var(--secondary-font);
  text-transform: inherit;
}

.text-italic {
  font-style: italic;
}

.content_block_1 .content-box .text {
  margin-bottom: 1em;
}

/*.image_block_1 .image-box .video-content {*/
/*  padding: 0.5em;*/
/*  background: rgba(255, 255, 255, 0.5);*/
/*  border-radius: 0.5em;*/
/*}*/

.allow-viewer {
}

.border-primary-2 {
  border: 2px solid var(--primary-color) !important;
}

.la-bottom-image {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 2px;
  left: 5%;
  width: 90%;
  padding: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: white;
}

.la-text-justify {
  text-align: justify;
}

.la-text-primary {
  color: var(--color-text-primary) !important;
}

.la-shape {
  position: absolute;
  top: -60px;
  left: -50px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

strong {
  color: var(--primary-color);
}

.la-z-index {
  position: relative;
  z-index: 2;
}

.la-first-letter::first-letter {
  font-size: 2em;
  font-weight: bold;
  color: var(--primary-color);
}

.deals-style-two:before {
  background: var(--secondary-color);
  /*opacity: 1;*/
}

.la-same-height-01 {
}

.la-fix-about03-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.la-fix-about03-description {
  position: relative;
  height: 106px;
  overflow: hidden;
}

.la-fix-about03-description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 100%);
  height: 60px;
}

.la-cloud .pattern-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95px;
  background-repeat: repeat-x;
  animation: slide 100s linear infinite;
  -webkit-animation: slide 100s linear infinite;
}

.la-relative {
  position: relative;
}

.place-block-one .inner-box .image-box:before {
  pointer-events: none;
  background: -webkit-linear-gradient(90deg, rgba(0, 45, 46, 0.6) 10%, rgba(0, 45, 46, 0) 100%);
}

.banner-section:before {
  background: -webkit-linear-gradient(90deg, rgba(0, 45, 46, 0.6) 10%, rgba(0, 45, 46, 0) 100%);
}

.la-same-height-02,
.la-same-height-03 {
}

/*.news-block-one .inner-box .lower-content .btn-box {*/
/*  position: relative;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*}*/

.la-contact-container {
  padding: 1em 0;
  border-radius: 2em;
}

.la-rounded {
  border-radius: 2em !important;
}

.scroll-top {
  border-radius: 50%;
}

.la-contact-info {
  padding: 2em 0;
  /*background: #f5f6f6;*/
  border-radius: 2em;
}

.la-contact-info img {
  width: 207px;
}

.la-contact-info .header-logo {
  margin-bottom: 2em;
}

.la-text-light {
  color: white;
}

.map-inner .map-content:not(:first-child) {
  margin-top: 2em;
}

.la-small-note {
  font-style: italic;
  font-size: 0.75em;
  text-transform: unset !important;
}

.la-fancy-divider {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  text-align: center;
  max-width: 1200px;
}

.la-fancy-divider .la-fancy-line {
  position: relative;
  top: -51px;
  z-index: 1;
}

.la-fancy-divider img {
  position: relative;
  z-index: 2;
  height: 100px;
}

.la-border-fancy-2 {
  border: 2px solid var(--color-fancy);
}

.la-no-animation {
  -webkit-animation: unset !important;
  animation: unset !important;
}

.la-social-button {
  border-radius: 2em !important;
  width: auto !important;
  padding: 0 1.5em;
}

.la-social-button span {
  margin-left: 0.5em;
}

.la-logo-box {
  background: var(--primary-color);
  padding: 1.25em !important;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.main-menu .navigation > li {
  padding: 0.5em 0;
}

.main-menu .navigation > li.current {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.sticky-header .main-menu .navigation > li {
  padding: 35px 0;
}

.sticky-header .main-menu .navigation > li.current {
  background: unset;
}

.la-col-info {
  padding: 1em;
  text-align: center;
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-radius: 0.5em;
}

.la-col-info:first-child {
  border-left: 0;
}

.la-col-info:last-child {
  border-right: 0;
}

.la-col-info .la-number {
  font-size: 50px;
  font-weight: bold;
}

.la-col-info .la-digits {
  margin-left: 0.5em;
}

.la-col-info div {
  text-align: center;
}

.la-col-info:nth-child(2) {
  border-right-width: 2px;
}

.la-col-info:nth-child(3) {
  border-left-width: 2px;
}

.la-ignore-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-section .form-inner .form-group input[type="email"],
.contact-section .form-inner .form-group input[type="text"],
.contact-section .form-inner .form-group textarea {
  color: var(--color-text-primary);
}

.place-block-one .inner-box .image-box img {
  border-radius: 0.5em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media only screen and (max-width: 399px) {
  .la-logo-box {
    background: unset !important;
  }
}

.place-block-one .inner-box .image-box {
  margin-bottom: 0;
}

.la-figcaption {
  opacity: 0.8;
  padding: 0.25em;
}

.la-figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

.la-figure img {
  border-radius: 0.5em;
}

.la-post-h2 {
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: bold;
}

.la-list-style {
  list-style: unset;
  margin-left: 1em;
  margin-right: 1em;
}

.toclevel-1 ul,
.toclevel-2 ul {
  margin-left: 2em;
}

.toctext,
.posttext {
  margin-left: 0.5em;
}

.tocnumber,
.postnumber {
  color: var(--color-text-primary) !important;
}

.toc a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.toc {
  border-radius: 0.5rem;
  border: 2px solid var(--primary-color);
  padding: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
  display: inline-block;
}

#mw-toc-heading {
  font-size: 100%;
}

.la-sticky-love {
  margin-top: 0;
  margin-bottom: 0;
  background: #ffffff;
  padding: 0 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  z-index: 10;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
  height: 50px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 20px);
  font-size: 1em;
  line-height: 0;
}

.default-sidebar .post-widget .post {
  min-height: unset;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}

ul.post-inner {
  list-style: decimal;
}

.la-contact-pin {
  position: fixed;
  bottom: 2em;
  left: 2em;
  padding: 0.5em 1em;
  background: var(--primary-color);
  border-radius: 2em;
  z-index: 999;
  box-shadow: 0px 15px 25px 0px rgb(255 124 91 / 30%);
  font-weight: bold;
  background-position: -50px -75px;
  border: 2px solid var(--color-fancy);
}

.la-contact-pin i,
.la-contact-pin a {
  color: #fff !important;
}

.la-contact-pin a span {
  margin-left: 0.5em;
}

.la-message-btn {
  width: 190px;
  text-align: center;
}

.la-thanks {
  font-size: 2em;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
}

.blog-details-content .collection-content th .icon {
  display: none;
}

.blog-details-content .collection-content td,
.blog-details-content .collection-content th {
  border: 1px solid #e6ebeb;
  padding: 0.25em 1em;
}
