:root {
  --primary-color: #72163b;
  --secondary-color: #002d2e;
  --secondary-font: "Playfair Display", serif;
  --color-text-primary: #333333;
}

.la-contact-form .form-group input {
  position: relative;
  max-width: 286px;
  width: 100%;
  height: 64px;
  background: #fff;
  /*border-radius: 5px;*/
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #000000 !important;
  transition: all 500ms ease;
  border-radius: 60px !important;
  background: rgba(255, 255, 255, 0.8) !important;
}

.la-contact-form button {
  max-width: 286px;
}

.la-contact-form .message-btn .theme-btn {
  padding: 20px 42px !important;
  background: var(--primary-color);
  border-radius: 60px;
}

.text-outline {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.la-banner-desc {
  max-width: 700px;
  text-align: justify;
}

.la-banner-desc strong {
  color: var(--primary-color) !important;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 0.25em;
  border-radius: 0.25em;
}

.main-header .logo-box {
  padding: 0;
}

.color-primary {
  color: var(--primary-color) !important;
}

.color-text-primary {
  color: var(--color-text-primary) !important;
}

.text-pretty {
  font-family: var(--secondary-font);
  text-transform: inherit;
}

.text-italic {
  font-style: italic;
}

.content_block_1 .content-box .text {
  margin-bottom: 1em;
}

/*.image_block_1 .image-box .video-content {*/
/*  padding: 0.5em;*/
/*  background: rgba(255, 255, 255, 0.5);*/
/*  border-radius: 0.5em;*/
/*}*/

.allow-viewer {
}

.border-primary-2 {
  border: 2px solid var(--primary-color) !important;
}

.la-bottom-image {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 2px;
  left: 5%;
  width: 90%;
  padding: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: white;
}

.la-text-justify {
  text-align: justify;
}

.la-text-primary {
  color: var(--color-text-primary) !important;
}

.la-shape {
  position: absolute;
  top: -60px;
  left: -50px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

strong {
  color: var(--primary-color);
}

.la-z-index {
  position: relative;
  z-index: 2;
}

.la-first-letter::first-letter {
  font-size: 2em;
  font-weight: bold;
  color: var(--primary-color);
}

.deals-style-two:before {
  background: var(--secondary-color);
  /*opacity: 1;*/
}

.la-same-height-01 {
}

.la-fix-about03-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.la-fix-about03-description {
  position: relative;
  height: 106px;
  overflow: hidden;
}

.la-fix-about03-description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 100%);
  height: 60px;
}
