extends ../../layouts/hoiandor/home

block body
  include ../../blocks/hoiandor/preloader
  include ../../blocks/hoiandor/header
  include ../../blocks/hoiandor/banner
  include ../../blocks/hoiandor/about01
  include ../../blocks/hoiandor/about02
  include ../../blocks/hoiandor/about03
  include ../../blocks/hoiandor/about04
  include ../../blocks/hoiandor/posts01
  include ../../blocks/hoiandor/contact01
  include ../../blocks/hoiandor/foot
