extends ../../layouts/hoiandor/home

block body
  include ../../blocks/hoiandor/preloader
  include ../../blocks/hoiandor/header
  include ../../blocks/hoiandor/banner
  include ../../blocks/hoiandor/about01
  include ../../blocks/hoiandor/about02
  include ../../blocks/hoiandor/about03
