extends ../../layouts/hoiandor/home

block body
  include ../../blocks/hoiandor/header
  section.page-title.centred(style="background-image: url(assets/images/background/page-title-5.jpg)")
    .auto-container
      .content-box(style="margin-top: 100px")
        h1 Blog Details
        p Discover your next great adventure
