doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
    title Travio - HTML 5 Template Preview
    //  Fav Icon 
    link(rel="icon", href="assets/images/favicon.ico", type="image/x-icon")
    //  Google Fonts 
    link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet")
    //  Stylesheets 
    link(href="assets/css/font-awesome-all.css", rel="stylesheet")
    link(href="assets/css/flaticon.css", rel="stylesheet")
    link(href="assets/css/owl.css", rel="stylesheet")
    link(href="assets/css/bootstrap.css", rel="stylesheet")
    link(href="assets/css/jquery.fancybox.min.css", rel="stylesheet")
    link(href="assets/css/animate.css", rel="stylesheet")
    link(href="assets/css/nice-select.css", rel="stylesheet")
    link(href="assets/css/jquery-ui.css", rel="stylesheet")
    link(href="assets/css/color.css", rel="stylesheet")
    link(href="assets/css/style.css", rel="stylesheet")
    link(href="assets/css/responsive.css", rel="stylesheet")
  //  page wrapper 
  body
    .boxed_wrapper
      //  preloader 
      .loader-wrap
        .preloader
          .preloader-close Preloader Close
          #handle-preloader.handle-preloader
            .animation-preloader
              .spinner
              .txt-loading
                span.letters-loading(data-text-preloader="t").
                  
                  t
                  
                span.letters-loading(data-text-preloader="r").
                  
                  r
                  
                span.letters-loading(data-text-preloader="a").
                  
                  a
                  
                span.letters-loading(data-text-preloader="v").
                  
                  v
                  
                span.letters-loading(data-text-preloader="i").
                  
                  i
                  
                span.letters-loading(data-text-preloader="o").
                  
                  o
                  
      //  preloader end 
      //  main header 
      header.main-header.style-three
        //  header-lower 
        .header-lower
          .outer-box.clearfix
            .menu-area.pull-left.clearfix
              .logo-box
                figure.logo
                  a(href="index.html")
                    img(src="assets/images/logo-3.png", alt)
              // Mobile Navigation Toggler
              .mobile-nav-toggler
                i.icon-bar
                i.icon-bar
                i.icon-bar
              nav.main-menu.navbar-expand-md.navbar-light
                .collapse.navbar-collapse.show.clearfix#navbarSupportedContent
                  ul.navigation.clearfix
                    li.current.dropdown
                      a(href="index.html") Home
                      ul
                        li
                          a(href="index.html") Home Page 01
                        li
                          a(href="index-2.html") Home Page 02
                        li
                          a(href="index-3.html") Home Page 03
                        li
                          a(href="index-4.html") Home Page 04
                        li
                          a(href="index-5.html") Home Page 05
                        li
                          a(href="index-onepage.html") OnePage Home
                        li
                          a(href="index-rtl.html") RTL Home
                        li.dropdown
                          a(href="index.html") Header Style
                          ul
                            li
                              a(href="index.html") Header Style 01
                            li
                              a(href="index-2.html") Header Style 02
                            li
                              a(href="index-3.html") Header Style 03
                    li.dropdown
                      a(href="index.html") Destinations
                      ul
                        li
                          a(href="destination.html") Destinations 01
                        li
                          a(href="destination-2.html") Destinations 02
                        li
                          a(href="destination-details.html") Destination Details
                    li.dropdown
                      a(href="index.html") Tours
                      ul
                        li
                          a(href="tour-1.html") Tours Grid
                        li
                          a(href="tour-2.html") Tours List
                        li
                          a(href="tour-details.html") Tour Details
                    li.dropdown
                      a(href="index.html") Pages
                      ul
                        li
                          a(href="about.html") About Us
                        li
                          a(href="booking-1.html") Booking Process
                        li
                          a(href="tour-deals.html") Tour Deals
                        li
                          a(href="tour-guide.html") Tour Guide
                        li
                          a(href="gallery-1.html") Gallery 01
                        li
                          a(href="gallery-2.html") Gallery 02
                        li
                          a(href="faq.html") Faq's
                        li
                          a(href="signup.html") Sign Up
                        li
                          a(href="login.html") Sign In
                        li
                          a(href="error.html") 404
                    li.dropdown
                      a(href="index.html") Elements
                      .megamenu
                        .row.clearfix
                          .col-xl-6.column
                            ul
                              li
                                h4 Elements 1
                              li
                                a(href="about-element-1.html") About Block 01
                              li
                                a(href="about-element-2.html") About Block 02
                              li
                                a(href="about-element-3.html") About Block 03
                              li
                                a(href="feature-element-1.html") Feature Block 01
                              li
                                a(href="feature-element-2.html") Feature Block 02
                              li
                                a(href="tour-element-1.html") Tour Block 01
                              li
                                a(href="tour-element-2.html") Tour Block 02
                              li
                                a(href="place-element-1.html") Place Block 01
                          .col-xl-6.column
                            ul
                              li
                                h4 Elements 2
                              li
                                a(href="place-element-2.html") Place Block 02
                              li
                                a(href="news-element-1.html") News Block 01
                              li
                                a(href="news-element-2.html") News Block 02
                              li
                                a(href="team-element-1.html") Team Block 01
                              li
                                a(href="team-element-2.html") Team Block 02
                              li
                                a(href="video-element.html") Video Block
                              li
                                a(href="funfact-element.html") Funfact Block
                              li
                                a(href="testimonial-element.html") Testimonial Block
                    li.dropdown
                      a(href="index.html") Blog
                      ul
                        li
                          a(href="blog.html") Blog Grid
                        li
                          a(href="blog-2.html") Blog Standard
                        li
                          a(href="blog-details.html") Blog Details
                    li
                      a(href="contact.html") Contact
            ul.menu-right-content.pull-right.clearfix
              li.search-box-outer
                .dropdown
                  button.search-box-btn#dropdownMenu3(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                    i.far.fa-search
                  .dropdown-menu.search-panel(aria-labelledby="dropdownMenu3")
                    .form-container
                      form(method="post", action="blog.html")
                        .form-group
                          input(type="search", name="search-field", placeholder="Search....", required)
                          button.search-btn(type="submit")
                            span.fas.fa-search
              li.user-link
                a(href="signup.html")
                  i.icon-Profile
              li.btn-box
                a.theme-btn(href="tour-deals.html") Book A Tour
        // sticky Header
        .sticky-header
          .auto-container
            .outer-box
              .logo-box
                figure.logo
                  a(href="index.html")
                    img(src="assets/images/logo.png", alt)
              .menu-area
                nav.main-menu.clearfix
                  // Keep This Empty / Menu will come through Javascript
              ul.menu-right-content.clearfix
                li.search-box-outer
                  .dropdown
                    button.search-box-btn#dropdownMenu4(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                      i.far.fa-search
                    .dropdown-menu.search-panel(aria-labelledby="dropdownMenu4")
                      .form-container
                        form(method="post", action="blog.html")
                          .form-group
                            input(type="search", name="search-field", placeholder="Search....", required)
                            button.search-btn(type="submit")
                              span.fas.fa-search
                li.user-link
                  a(href="signup.html")
                    i.icon-Profile
      //  main-header end 
      //  Mobile Menu  
      .mobile-menu
        .menu-backdrop
        .close-btn
          i.fas.fa-times
        nav.menu-box
          .nav-logo
            a(href="index.html")
              img(src="assets/images/logo-2.png", alt)
          .menu-outer
            // Here Menu Will Come Automatically Via Javascript / Same Menu as in Header
          .contact-info
            h4 Contact Info
            ul
              li Chicago 12, Melborne City, USA
              li
                a(href="tel:+8801682648101") +88 01682648101
              li
                a(href="mailto:info@example.com") info@example.com
          .social-links
            ul.clearfix
              li
                a(href="index.html")
                  span.fab.fa-twitter
              li
                a(href="index.html")
                  span.fab.fa-facebook-square
              li
                a(href="index.html")
                  span.fab.fa-pinterest-p
              li
                a(href="index.html")
                  span.fab.fa-instagram
              li
                a(href="index.html")
                  span.fab.fa-youtube
      //  End Mobile Menu 
      //  banner-section 
      section.banner-section.style-three.bg-color-1
        .pattern-layer-2(style="background-image: url(assets/images/shape/shape-19.png);")
        .banner-carousel.owl-theme.owl-carousel.owl-dots-none
          .slide-item
            .image-layer(style="background-image:url(assets/images/banner/banner-3.jpg)")
            .auto-container
              .text
                h2 Find Your Destination
                p Discover your next great adventure
          .slide-item
            .image-layer(style="background-image:url(assets/images/banner/banner-4.jpg)")
            .auto-container
              .text
                h2 Find Your Destination
                p Discover your next great adventure
          .slide-item
            .image-layer(style="background-image:url(assets/images/banner/banner-5.jpg)")
            .auto-container
              .text
                h2 Find Your Destination
                p Discover your next great adventure
        .auto-container
          .form-inner
            form.booking-form.clearfix(action="index.html", method="post")
              .form-group
                input(type="text", name="service", placeholder="Where to?", required)
              .form-group.input-date
                i.far.fa-angle-down
                input#datepicker(type="text", name="date", placeholder="When?")
              .form-group
                .select-box
                  select.wide
                    option(data-display="Travel Type") Travel Type
                    option(value="1") Adventure Tours
                    option(value="2") City Tours
                    option(value="3") Couple Tours
                    option(value="4") Group Tours
              .message-btn
                button.theme-btn(type="submit")
                  i.far.fa-search
                  | Find Now
      //  banner-section end 
      //  feature-section 
      section.feature-section.centred.bg-color-1.sec-pad
        .anim-icon
          .icon.anim-icon-1(style="background-image: url(assets/images/shape/shape-15.png);")
          .icon.anim-icon-2(style="background-image: url(assets/images/shape/shape-16.png);")
          .icon.anim-icon-3(style="background-image: url(assets/images/shape/shape-17.png);")
        .auto-container
          .sec-title.centred
            p Travio Specials
            h2 Why Travel with Tutive?
          .row.clearfix
            .col-lg-3.col-md-6.col-sm-12.feature-block
              .feature-block-one.wow.fadeInUp.animated.animated(data-wow-delay="00ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/feature-1.jpg", alt)
                  .lower-content
                    .icon-box
                      i.icon-1
                    h4 2000+ Our Worldwide Guides
            .col-lg-3.col-md-6.col-sm-12.feature-block
              .feature-block-one.wow.fadeInUp.animated.animated(data-wow-delay="200ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/feature-2.jpg", alt)
                  .lower-content
                    .icon-box
                      i.icon-2
                    h4 100% Trusted Tour Agency
            .col-lg-3.col-md-6.col-sm-12.feature-block
              .feature-block-one.wow.fadeInUp.animated.animated(data-wow-delay="400ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/feature-3.jpg", alt)
                  .lower-content
                    .icon-box
                      i.icon-3
                    h4 12+ Years of Travel Experience
            .col-lg-3.col-md-6.col-sm-12.feature-block
              .feature-block-one.wow.fadeInUp.animated.animated(data-wow-delay="600ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/feature-4.jpg", alt)
                  .lower-content
                    .icon-box
                      i.icon-4
                    h4 98% of Our Travelers are Happy
      //  feature-section end 
      //  about-style-three 
      section.about-style-three
        .pattern-layer(style="background-image: url(assets/images/shape/shape-4.png);")
        .anim-icon
          .icon.anim-icon-1(style="background-image: url(assets/images/shape/shape-2.png);")
          .icon.anim-icon-2(style="background-image: url(assets/images/shape/shape-18.png);")
          .icon.anim-icon-3(style="background-image: url(assets/images/shape/shape-18.png);")
        .auto-container
          .row.clearfix
            .col-lg-6.col-md-6.col-sm-12.content-column
              .content_block_3
                .content-box.text-right
                  .image-box
                    figure.image
                      img(src="assets/images/resource/about-4.jpg", alt)
                  .text
                    p Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiu smod tempor incididunt ut labore dolore magna aliqua.Quis ipsum suspen disse ultrices gravida.
                    h3
                      | Find Your Best
                      br
                      | Destination
                    a.lightbox-image(href="https://www.youtube.com/watch?v=nfP5N9Yc72A&t=28s", data-caption)
                      i.icon-Video
            .col-lg-6.col-md-6.col-sm-12.content-column
              .content_block_4
                .content-box
                  .sec-title
                    p About travio
                    h2 Best Travel Agency Since 2008.
                  figure.image-box
                    img(src="assets/images/resource/about-5.jpg", alt)
      //  about-style-three end 
      //  offer-section 
      section.offer-section.sec-pad(style="background-image: url(assets/images/background/offer-1.jpg);")
        .auto-container
          .sec-title.light
            p Deals & Offers
            h2 Last Minute Amazing Deals
          .three-item-carousel.owl-carousel.owl-theme.owl-nav-none
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-1.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") New York City
                  h4 $150
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-2.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") Vietnam
                  h4 $170
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-3.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") Norway Lake
                  h4 $190
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-1.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") New York City
                  h4 $150
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-2.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") Vietnam
                  h4 $170
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-3.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") Norway Lake
                  h4 $190
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-1.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") New York City
                  h4 $150
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-2.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") Vietnam
                  h4 $170
            .offer-block-one
              .inner-box
                figure.image-box
                  img(src="assets/images/resource/offer-3.jpg", alt)
                .content-box
                  span Get 50% Off
                  h3
                    a(href="destination-details.html") Norway Lake
                  h4 $190
      //  offer-section end 
      //  tour-style-two 
      section.tour-style-two
        .auto-container
          .sec-title.text-center
            p Modern & Beautiful
            h2 Our Most Popular Adventures
          .row.clearfix
            .col-lg-6.col-md-12.col-sm-12.tour-block
              .tour-block-two.wow.fadeInLeft.animated.animated(data-wow-delay="00ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/tour/tour-4.jpg", alt)
                    a(href="tour-details.html")
                      i.fas.fa-link
                  .content-box
                    .rating
                      span
                        i.fas.fa-star
                        | 8.0 Superb
                    h3
                      a(href="tour-details.html") Moscow Red City Land
                    h4
                      | $170.00
                      span  / Per person
                    p Lorem ipsum dolor amet consectetur adipiscing sed.
                    .btn-box
                      a(href="tour-details.html") See Details
            .col-lg-6.col-md-12.col-sm-12.tour-block
              .tour-block-two.wow.fadeInRight.animated.animated(data-wow-delay="00ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/tour/tour-5.jpg", alt)
                    a(href="tour-details.html")
                      i.fas.fa-link
                  .content-box
                    .rating
                      span
                        i.fas.fa-star
                        | 8.0 Superb
                    h3
                      a(href="tour-details.html") Moscow Red City Land
                    h4
                      | $170.00
                      span  / Per person
                    p Lorem ipsum dolor amet consectetur adipiscing sed.
                    .btn-box
                      a(href="tour-details.html") See Details
            .col-lg-6.col-md-12.col-sm-12.tour-block
              .tour-block-two.wow.fadeInLeft.animated.animated(data-wow-delay="300ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/tour/tour-6.jpg", alt)
                    a(href="tour-details.html")
                      i.fas.fa-link
                  .content-box
                    .rating
                      span
                        i.fas.fa-star
                        | 8.0 Superb
                    h3
                      a(href="tour-details.html") Moscow Red City Land
                    h4
                      | $170.00
                      span  / Per person
                    p Lorem ipsum dolor amet consectetur adipiscing sed.
                    .btn-box
                      a(href="tour-details.html") See Details
            .col-lg-6.col-md-12.col-sm-12.tour-block
              .tour-block-two.wow.fadeInRight.animated.animated(data-wow-delay="300ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    img(src="assets/images/tour/tour-7.jpg", alt)
                    a(href="tour-details.html")
                      i.fas.fa-link
                  .content-box
                    .rating
                      span
                        i.fas.fa-star
                        | 8.0 Superb
                    h3
                      a(href="tour-details.html") Moscow Red City Land
                    h4
                      | $170.00
                      span  / Per person
                    p Lorem ipsum dolor amet consectetur adipiscing sed.
                    .btn-box
                      a(href="tour-details.html") See Details
      //  tour-style-two end 
      //  place-style-three 
      section.place-style-three.bg-color-1.sec-pad
        .anim-icon
          .icon.anim-icon-1(style="background-image: url(assets/images/shape/shape-18.png);")
          .icon.anim-icon-2(style="background-image: url(assets/images/shape/shape-18.png);")
        .auto-container
          .sec-title.centred
            p Choose Your place
            h2 Popular Destinations
          .row.clearfix
            .three-item-carousel.owl-carousel.owl-theme.owl-nav-none.dots-style-one
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-6.jpg", alt)
                  .text
                    h3 New York City
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-7.jpg", alt)
                  .text
                    h3 Mont Blanc
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-8.jpg", alt)
                  .text
                    h3 Norway Lake
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-6.jpg", alt)
                  .text
                    h3 New York City
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-7.jpg", alt)
                  .text
                    h3 Mont Blanc
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-8.jpg", alt)
                  .text
                    h3 Norway Lake
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-6.jpg", alt)
                  .text
                    h3 New York City
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-7.jpg", alt)
                  .text
                    h3 Mont Blanc
              .place-block-two
                .inner-box
                  figure.image-box
                    img(src="assets/images/resource/place-8.jpg", alt)
                  .text
                    h3 Norway Lake
      //  place-style-three end 
      //  video-section 
      section.video-section.centred(style="background-image: url(assets/images/background/video-1.jpg);")
        .auto-container
          .inner-box
            h2 Explore Your Travel
            p Your New Traveling Idea
            .video-btn
              a.lightbox-image(href="https://www.youtube.com/watch?v=nfP5N9Yc72A&t=28s", data-caption)
                i.far.fa-play
                span.border-animation.border-1
                span.border-animation.border-2
                span.border-animation.border-3
      //  video-section end 
      //  funfact-style-two 
      section.funfact-style-two.centred
        .pattern-layer(style="background-image: url(assets/images/shape/shape-14.png);")
        .auto-container
          .row.clearfix
            .col-lg-3.col-md-6.col-sm-12.counter-block
              .counter-block-two
                .inner-box
                  .count-outer.count-box
                    span.count-text(data-speed="1500", data-stop="2000") 0
                    span +
                  p Awesome Hikers
            .col-lg-3.col-md-6.col-sm-12.counter-block
              .counter-block-two
                .inner-box
                  .count-outer.count-box
                    span.count-text(data-speed="1500", data-stop="70") 0
                    span +
                  p Stunning Places
            .col-lg-3.col-md-6.col-sm-12.counter-block
              .counter-block-two
                .inner-box
                  .count-outer.count-box
                    span.count-text(data-speed="1500", data-stop="1200") 0
                    span +
                  p Miles to Hike
            .col-lg-3.col-md-6.col-sm-12.counter-block
              .counter-block-two
                .inner-box
                  .count-outer.count-box
                    span.count-text(data-speed="1500", data-stop="15") 0
                  p Years in Service
      //  funfact-style-two end 
      //  news-section 
      section.news-section.sec-pad
        .auto-container
          .sec-title
            p News & Articles
            h2 Stay Update with Travio Tips
            a.theme-btn-two(href="blog.html") All Blog Posts
          .row.clearfix
            .col-lg-4.col-md-6.col-sm-12.news-block
              .news-block-one.wow.fadeInUp.animated.animated(data-wow-delay="00ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    a(href="blog-details.html")
                      img(src="assets/images/news/news-1.jpg", alt)
                    span.post-date
                      i.icon-Calendar
                      | 5 Oct, 2020
                  .lower-content
                    .category
                      a(href="blog-details.html") Lifestyle
                    h3
                      a(href="blog-details.html") Including animation in your design system
                    ul.post-info.clearfix
                      li
                        span By
                        |  
                        a(href="index.html") Eva Green
                      li - October 13, 2020
                    p Lorem ipsum dolor sit amet consectur adip icing sed do eiusmod tempor incididunt labore dolore magna aliqua enim.
                    .btn-box
                      a.theme-btn-two(href="blog-details.html") See Details
            .col-lg-4.col-md-6.col-sm-12.news-block
              .news-block-one.wow.fadeInUp.animated.animated(data-wow-delay="300ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    a(href="blog-details.html")
                      img(src="assets/images/news/news-2.jpg", alt)
                    span.post-date
                      i.icon-Calendar
                      | 4 Oct, 2020
                  .lower-content
                    .category
                      a(href="blog-details.html") Lifestyle
                    h3
                      a(href="blog-details.html") Strategic & commercial approach with issues.
                    ul.post-info.clearfix
                      li
                        span By
                        |  
                        a(href="index.html") Eva Green
                      li - October 13, 2020
                    p Lorem ipsum dolor sit amet consectur adip icing sed do eiusmod tempor incididunt labore dolore magna aliqua enim.
                    .btn-box
                      a.theme-btn-two(href="blog-details.html") See Details
            .col-lg-4.col-md-6.col-sm-12.news-block
              .news-block-one.wow.fadeInUp.animated.animated(data-wow-delay="600ms", data-wow-duration="1500ms")
                .inner-box
                  figure.image-box
                    a(href="blog-details.html")
                      img(src="assets/images/news/news-3.jpg", alt)
                    span.post-date
                      i.icon-Calendar
                      | 3 Oct, 2020
                  .lower-content
                    .category
                      a(href="blog-details.html") Lifestyle
                    h3
                      a(href="blog-details.html") Best interior design idea for your home.
                    ul.post-info.clearfix
                      li
                        span By
                        |  
                        a(href="index.html") Eva Green
                      li - October 13, 2020
                    p Lorem ipsum dolor sit amet consectur adip icing sed do eiusmod tempor incididunt labore dolore magna aliqua enim.
                    .btn-box
                      a.theme-btn-two(href="blog-details.html") See Details
      //  news-section end 
      //  main-footer 
      footer.main-footer.bg-color-2
        .footer-top.pt-130
          .vector-bg(style="background-image: url(assets/images/shape/shape-11.png);")
          .auto-container
            .row.clearfix
              .col-lg-3.col-md-6.col-sm-12.footer-column
                .footer-widget.logo-widget
                  figure.footer-logo
                    a(href="index.html")
                      img(src="assets/images/footer-logo.png", alt)
                  .text
                    p Lorem ipsum dolor amet consetetur adi pisicing elit sed eiusm tempor in cididunt ut labore dolore magna aliqua enim.
                  ul.social-links.clearfix
                    li
                      a(href="index.html")
                        i.fab.fa-facebook-f
                    li
                      a(href="index.html")
                        i.fab.fa-twitter
                    li
                      a(href="index.html")
                        i.fab.fa-instagram
                    li
                      a(href="index.html")
                        i.fab.fa-google-plus-g
                    li
                      a(href="index.html")
                        i.fab.fa-linkedin-in
              .col-lg-3.col-md-6.col-sm-12.footer-column
                .footer-widget.links-widget
                  .widget-title
                    h3 Services
                  .widget-content
                    ul.links-list.clearfix
                      li
                        a(href="index.html") About Us
                      li
                        a(href="index.html") Listing
                      li
                        a(href="index.html") How It Works
                      li
                        a(href="index.html") Our Services
                      li
                        a(href="index.html") Our Blog
                      li
                        a(href="index.html") Contact Us
              .col-lg-3.col-md-6.col-sm-12.footer-column
                .footer-widget.gallery-widget
                  .widget-title
                    h3 Gallery
                  .widget-content
                    ul.image-list.clearfix
                      li
                        figure.image-box
                          a(href="gallery-1.html")
                            img(src="assets/images/resource/footer-gallery-1.jpg", alt)
                      li
                        figure.image-box
                          a(href="gallery-1.html")
                            img(src="assets/images/resource/footer-gallery-2.jpg", alt)
                      li
                        figure.image-box
                          a(href="gallery-1.html")
                            img(src="assets/images/resource/footer-gallery-3.jpg", alt)
                      li
                        figure.image-box
                          a(href="gallery-1.html")
                            img(src="assets/images/resource/footer-gallery-4.jpg", alt)
                      li
                        figure.image-box
                          a(href="gallery-1.html")
                            img(src="assets/images/resource/footer-gallery-5.jpg", alt)
                      li
                        figure.image-box
                          a(href="gallery-1.html")
                            img(src="assets/images/resource/footer-gallery-6.jpg", alt)
              .col-lg-3.col-md-6.col-sm-12.footer-column
                .footer-widget.contact-widget
                  .widget-title
                    h3 Contacts
                  .widget-content
                    ul.info-list.clearfix
                      li
                        i.fas.fa-map-marker-alt
                        | Flat 20, Reynolds Neck, North Helenaville, FV77 8WS
                      li
                        i.fas.fa-microphone
                        a(href="tel:23055873407") +2(305) 587-3407
                      li
                        i.fas.fa-envelope
                        a(href="mailto:info@example.com") info@example.com
        .footer-bottom
          .auto-container
            .bottom-inner.clearfix
              .copyright.pull-left
                p
                  a(href="index.html") Travio
                  |  © 2021 All Right Reserved
              ul.footer-nav.pull-right
                li
                  a(href="index.html") Terms of Service
                li
                  a(href="index.html") Privacy Policy
      //  main-footer end 
      // Scroll to top
      button.scroll-top.scroll-to-target(data-target="html")
        span.fal.fa-angle-up
    //  jequery plugins 
    script(src="assets/js/jquery.js")
    script(src="assets/js/popper.min.js")
    script(src="assets/js/bootstrap.min.js")
    script(src="assets/js/owl.js")
    script(src="assets/js/wow.js")
    script(src="assets/js/validation.js")
    script(src="assets/js/jquery.fancybox.js")
    script(src="assets/js/appear.js")
    script(src="assets/js/scrollbar.js")
    script(src="assets/js/jquery.nice-select.min.js")
    script(src="assets/js/jquery-ui.js")
    //  main-js 
    script(src="assets/js/script.js")
  //  End of .page_wrapper 