:root {
  --primary-color: #72163b;
}

.la-contact-form .form-group input {
  position: relative;
  max-width: 286px;
  width: 100%;
  height: 64px;
  background: #fff;
  /*border-radius: 5px;*/
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #000000 !important;
  transition: all 500ms ease;
  border-radius: 60px !important;
  background: rgba(255, 255, 255, 0.8) !important;
}

.la-contact-form button {
  max-width: 286px;
}

.la-contact-form .message-btn .theme-btn {
  padding: 20px 42px !important;
  background: var(--primary-color);
  border-radius: 60px;
}

.text-outline {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.la-banner-desc {
  color: var(--primary-color);
  max-width: 600px;
}
